<% if user_signed_in? %>
  <div class="battle-button">
    <div id="post-container">
      <%= link_to t('battle.start'), battle_quest_path(quest), id: 'post', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
<h2><%= t 'battle.in_progress' %></h2>
<ul>
  <% battles.each_with_index do |battle, i| %>
    <% first_guild  = battle.gladiators.first.guild_name %>
    <% second_guild = battle.gladiators.last.guild_name %>
    <% first_user   = battle.gladiators.first.username %>
    <% second_user  = battle.gladiators.last.username %>
    <li>
      <%= link_to "#{first_user}(#{first_guild})対#{second_user}(#{second_guild})", see_battle_quest_path(quest, battle) %>
    </li>
  <% end %>
</ul>
