<article id="post">
  <section>
    <h3 class="title">
      <%= t 'quest.edit' %>
    </h3>
    <p class="desc clearfix">
      <%= t('quest.post_explanation').html_safe %>
    </p>
    <%= render 'quests/form_without_code', quest: @quest %>
  </section>
</article>
