<article id="post">
  <section>
    <h3 class="title">
      クエストの投稿
    </h3>
    <p class="desc">
      <%= t('quest.post_explanation').html_safe %>
    </p>
    <%= render 'quests/form' %>
  </section>
</article>
