<h1><%= @quest.title %></h1>
<p><%= @quest.description %></p>

<% if user_signed_in? %>
  <% if @code %>
    <%= link_to 'Edit code', edit_quest_code_path(@quest, @code) %>
  <% else %>
    <%= link_to 'Post code', new_quest_code_path(@quest) %>
  <% end %>

<% end %>
