  <article id="top">
    <section id="header" class="jumbotron">
      <div class="container">
        <h1>
          <%= image_tag 'header-codebattle-logo.png', alt: "CodeBattle" %>
        </h1>
        <p>
          <%= image_tag 'header-subtitle.png', alt: "THE WAR OF LANGUAGES" %>
        </p>
      </div>
    </section>

    <section id="sub-header">
      <div class="container">
        <h2>
          <%= image_tag 'sub-header-catchcopy.png', alt: 'ようこそ、Codeの最前線へ。' %>
        </h2>
        <p>CodeBattleは、プログラミングコードの戦場です。<br>
          あなたは中世さながらのプログラミング戦士となり、<br>
          PythonやC#、Scala、Erlangといったギルド(言語)に所属します。<br>
          クエスト(課題)が現れたら、まずはギルド内で最強の戦士が選ばれ、<br>
          各ギルド一番の戦士が一騎打ち！勝者はCode大陸で領土を広げます。<br>
          それは、あなたの愛する言語が地上を征服する日まで、、、
        </p>
      </div>
    </section>

    <%= render partial: 'quests/best_codes', collection: @codes %>

  </article>
