<div id="new-comment">
  <label for="comment-textarea">Comment</label>
  <textarea name="comment" id="comment-textarea" cols="30" rows="10">
  </textarea>
  <br>
  <input type="submit" value="Submit">
</div>
