<div id="new-comment">
  <textarea name="comment" id="comment-textarea" class="form-control" rows="3"></textarea>
  <button type="button" class="comment-post btn btn-primary pull-right">
    <%= t 'comment.post' %>
  </button>
</div>
