<article id="guildlist">


<section>
    <h3 class="title">
      <%= t 'guild.index_title' %>
    </h3>
    <p class="desc"><%= t 'guild.choose' %></p>
    <div id="code-container" class="guilds clearfix">
      <%= render @guilds %>
    </div>
  </section>
</article>


<% if user_signed_in? %>
  <% content_for :javascript do %>
    <script>
      Dmtc.Globals.user = <%= current_user.to_json(methods: :gravatar_url).html_safe %>;
      new Dmtc.Views.GuildsIndex();
    </script>
  <% end %>
<% end %>
