<h1><%= @user.username %></h1>

<div class="codes">
  <% if @user.created_codes.empty? %>
    No spell casted yet.
  <% else %>
    <%= render partial: 'codes/code_line', collection: @user.created_codes, as: :code, locals: { fields: [:quest, :guild] } %>
  <% end %>
</div>
