<div class="code-line">
  <%= link_to 'Spell', [code.quest, code] %>
  <% if fields.include? :guild %>
    in
    <%= link_to code.guild.name, code.guild %>
  <% end %>
  <% if fields.include? :author  %>
    by
    <%= link_to code.author.username, code.author %>
  <% end %>
  <% if fields.include? :quest %>
    for quest
    <%= link_to code.quest.title, code.quest %>
  <% end %>
</div>
