<div class="code">
  <h4>
    <% unless defined?(skip_title) %>
      <span class="title">
        <%= t 'user.no_code' %>
      </span>
    <% end %>

  </h4>
    <%= code.formatted_source.html_safe %>

</div>

