<%= link_to [code.quest, code], class: "code #{code.guild_url_safe_name}" do %>
  <%= t('code.other_used_language', language: image_tag("#{code.guild_url_safe_name}-logo.png", alt: code.guild_name, class: 'lang')).html_safe %>
  <span class="author">
    <%= t 'code.author' %>:
    <%= gravatar_image_tag code.author_email, alt: 'avatar', class: 'avatar' %>
  </span>
<% end %>
