<article id="post">
  <section>
    <h3 class="title">
      <%= @quest.title %>
    </h3>
    <p class="desc">
      <%= @quest.description %>
    </p>
    <%= render 'codes/form', quest: @quest, code: @code %>
  </section>
</article>
