development:
  adapter: postgresql
  encoding: unicode
  database: code_battle_development
  pool: 5
  timeout: 5000
  username: code_battle
  password: foobar
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: code_battle_test
  pool: 5
  timeout: 5000
  username: code_battle
  password: foobar
  host: localhost

production:
  adapter: postgresql
  encoding: unicode
  database: code_battle_production
  pool: 5
  timeout: 5000
  username: root
  password:
