.battle {
  .code {
    .username {
      color: #ffffff;
    }
    &.own-code {

    }
    &.enemy-code {
      textarea {
        background: #ededed;
      }
    }
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }
}
