img.lang {
	float:left;
	margin:14px 0 0 12px;
	height:22px;
}

.php {
	.background-image(~"linear-gradient(bottom, #5969a5 0%, #8e9dd6 100%)");
}

.python {
	.background-image(~"linear-gradient(bottom, #356b95 0%, #5697c9 100%)");
}

.ruby {
	.background-image(~"linear-gradient(bottom, #a91b0b 0%, #d94837 100%)");
}

.perl {
	.background-image(~"linear-gradient(bottom, #004165 0%, #106a9d 100%)");
}

.haskell {
	.background-image(~"linear-gradient(bottom, #656565 0%, #757575 33.28%, #949494 100%)");
}

.scala {
	.background-image(~"linear-gradient(bottom, #c81d00 0%, #d51f00 33.28%, #f12300 100%)");
}

.java {
	.background-image(~"linear-gradient(bottom, #c35e00 0%, #cf6400 33.28%, #e97100 100%)");
}

.c {
	.background-image(~"linear-gradient(bottom, #4d4d4d 0%, #585858 33.28%, #707070 100%)");
}

.cpp {
	.background-image(~"linear-gradient(bottom, #4d4d4d 0%, #585858 33.28%, #707070 100%)");
}

.csharp {
	.background-image(~"linear-gradient(bottom, #4d4d4d 0%, #585858 33.28%, #707070 100%)");
}

.js {
	.background-image(~"linear-gradient(bottom, #01969a 0%, #03a5a9 33.28%, #06c4c9 100%)");
}

.lisp {
	.background-image(~"linear-gradient(bottom, #7614b1 0%, #8b23ca 33.28%, #b73fff 100%)");
}

.objectivec {
	.background-image(~"linear-gradient(bottom, #4d4d4d 0%, #585858 33.28%, #707070 100%)");
}

.ocaml {
	.background-image(~"linear-gradient(bottom, #bf9a0e 0%, #d4b12b 33.28%, #ffdf65 100%)");
}

.pascal {
	.background-image(~"linear-gradient(bottom, #4d4d4d 0%, #585858 33.28%, #707070 100%)");
}

.gold {
	border: 5px solid #edb305 !important;
}
.silver {
	border: 5px solid #bfbfbf !important;
}
.bronze {
	border: 5px solid #a88200 !important;
}

footer {
	background:#fff;
	section {
		margin:0 auto;
		width:750px;
		height:200px;
		background:#000;
	}
}

.navbar {
	.btn {
		margin-top:15px;
	}

	i {
		margin-right:5px;
	}

	.avatar {
		width:32px;
		height:32px;
		margin: -16px 0 -16px 0;
		overflow: hidden;
		.avatar-circle();
	}

	.search {
		position:relative;
		top: 14px;
		right:3px
	}
}

.navbar-brand{

	padding:0;

	img{
		margin:12px 8px 4px 8px;
		height:40px;
	}

}

.main-background {
	.background-image(~"linear-gradient(bottom, #eedfc7 0%, #eedfc7 80.22%, #fad9a4 100%)");
}


.pagination-panel {
	.main-background;
	width: 30%;
	height: 40px;
	margin: auto;
	padding-top: 5px;
	font-size: 18pt;
	span, em, a {
		height: 100%;
		width: 50px;
		display: inline-block;
		border-right: 1px solid #cdcdcd;
		&:last-child {
			border: none;
		}
	}
}

.btn-inverse {
	.button-variant(@btn-inverse-color; @btn-inverse-bg; @btn-inverse-border);
}

.clear {
	clear: both;
}
